<h1>All Active Members</h1>
<table class="table">
	<thead>
		<tr>
			<th class="table-head">Name</th>
			<th class="table-head">Email</th>
			<th class="table-head">Program</th>
			<th class="table-head">Rank</th>
			<th class="table-head">Phone</th>
			<th class="table-head modify-button-head" colspan="3">Member Details</th>
		</tr>
	</thead>
	<tbody>
		<% members.forEach(member => { %>
		<tr class="table-row">
			<td class="table-cell name"><%= member.name_first %> <%= member.name_last %></td>
			<td class="table-cell"><%= member.email %></td>
			<td class="table-cell"><%= member.program %></td>
			<td class="table-cell"><%= member.rank %></td>
			<td class="table-cell"><%= member.phone %></td>
			<td class="table-cell status-view"><a class="modify-button" href="/members/<%= member.id %>">view</a></td>
			<td class="table-cell status-edit"><a class="modify-button" href="/members/<%= member.id %>/edit">edit</a></td>
			<td class="table-cell status-delete">
				<form method="POST" action="/members/<%= member.id %>?_method=DELETE">
					<button class="modify-button" type="submit" value="">delete</button>
				</form>
			</td>
		</tr>
		<% }) %>
	</tbody>
	<tfoot></tfoot>
</table>

