<h1>New Schedule</h1>

<form action="/schedules" method="POST">
	
	<div class="form-row">
		<label for="">Program</label>
		<select name="program">
			<option>Select a Program</option>
			<% programs.forEach(program => { %>
				<option value="<%= program.training_program_title %>"><%= program.training_program_title %></option>
			<% }) %>
		</select>
	</div>
	
	<div class="form-row">
		<label for="">Instructor</label>
		<select name="instructor">
			<option>Select Instructor</option>
			<% instructors.forEach(instructor => { %>
				<option value="<%= instructor.name_first %> <%= instructor.name_last %>"><%= instructor.name_first %> <%= instructor.name_last %></option>
			<% }) %>
		</select>
	</div>

	<div class="form-row">
		<label>Day</label>
		<input type="date" name="">
	</div>

	<!-- <input type="submit" name="sasdfasdf"> -->

</form>




